*.kdev4
*.opensdf
*.pdb
*.sdf
*.suo
*.swp
*.zip
x64/
build/
install/
*,ppm
doxygen-html/
.idea/
cmake-build-debug/
media/
csv/
fig/
recordings/
blender/
deps/
data/
mesh_out/
raycastdepth/
raycastRGB/
raw-data-archives/
